.navBar {
  background-color: #001b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.navBar .profile {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 35px;
}
.navBar h2 {
  color: white;
  font-size: 38px;
  margin: 0 10px;
}
.navBar h2 span {
  color: red;
}
.navBar .profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 3px 5px;
}

.navBar .profile h3 {
  font-size: 22px;
  margin: 3px 10px;
}

/* Responsive */

@media screen and (max-width: 430px) {
  .navBar .profile h3 {
    display: none;
  }

  @media screen and (max-width: 340px) {
    .navBar h2 span {
      display: none;
    }
  }
}
